<table class="w-full">
        <tr>
          <td class="pr-5 pl-5"><hr class="border-t-0 border-black-500 border-solid"></td>
        </tr>
        <tr>
          <td class="p-5 pt-5 pb-1 align-text-top align-center-table text-black font-normal text-xs leading-[14px]">Sed do eiusmod tempor incididunt ut labore</td>
        </tr>
        <tr>
          <td class="p-3 pb-10 align-center-table">
            <x-image
            imgUrl="image-2.png" 
            class="w-[100px] h-[40px]"
          /></td>
        </tr>
</table>
