<table class="w-full">
  <tr>
    <td class="w-full py-4 sm:p-0 align-center-table">
      <x-image
      imgUrl="image-1.png" 
      class="w-full h-auto"
    /></td>
  </tr>
  <tr>
    <td class="py-2.5 sm:pt-7 sm:p-5 align-text-top align-center-table text-green font-bold text-xl leading-[27.6px]">
      Excepteur sint occaecat cupidatat </td>
  </tr>
  <tr>
    <td class="pt-2.5 pb-5 px-14 sm:px-5 align-text-top align-center-table text-gray font-normal text-md leading-[18.4px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
  <tr>
    <td class="align-center-table pb-12">
      <x-button width="350"
      height="46"
      leading="23"
      padding="10px 20px"
      rounded="10"
      bgColor="#008080" class="border-none bg-lightgreen text-white font-bold text-[20px] leading-[23px] rounded-lg text-center">Ut enim ad minim veniam</x-button>
    </td>
  </tr>
</table>
