<!-- section 3 start -->
<table class="w-full">
  <tr>
    <td class="bg-lightgray pt-9 pb-11 px-5">
      <table class="w-full">
        <tr>
          <td class="align-center-table w-[50%]">
            <table class="w-full">
              <tr>
                <td class="pb-9 sm:pb-10 text-xl text-green font-bold align-center-table">Sint cupidatat occaecat ut</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="w-full">
        <tr>
          <td class="align-center-table w-[48%] bg-white sm:block sm:w-full">
            <table class="w-full">
              <tr>
                <td class="py-5 align-center-table"><x-image
                  imgUrl="Icon.png" 
                  class="w-[100px] h-[100px]"/></td>
              </tr>
              <tr>
                <td class="pb-5 text-mmd text-green font-bold align-center-table">Nisi ut ade</td>
              </tr>
              <tr>
                <td class="pt-1 pb-8 px-6 align-text-top align-center-table text-gray font-normal text-md leading-[18.4px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[8px] leading-[0px] align-[6px]">1</span></td>
              </tr>
            </table>
          </td>
          <td class="align-center-table w-[4%] bg-lightgray sm:bg-lightgray sm:block sm:w-full sm:pt-8"></td>
          <td class="align-center-table w-[48%] bg-white sm:block sm:w-full">
            <table class="w-full">
              <tr>
                <td class="py-5 align-center-table"><x-image
                  imgUrl="Icon.png" 
                  class="w-[100px] h-[100px]"/></td>
              </tr>
              <tr>
                <td class="pb-5 text-mmd text-green font-bold align-center-table">Duis aute irure</td>
              </tr>
              <tr>
                <td class="pt-1 pb-8 px-6 align-text-top align-center-table text-gray font-normal text-md leading-[18.4px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[8px] leading-[0px] align-[6px]">2</span></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section 3 end -->
